@import url(https://fonts.googleapis.com/css?family=Cinzel|Raleway|Nova+Square|Oswald);

$black-1: #212121;
$black-2: #2e2e2e;
$black-3: #3b3b3b;
$black-4: #474747;
$white-1: #f8f8f8;
$white-2: #e7eeed;
$white-3: #fbfbfb;
$gold-color: #e3dac9;
$red-color: #b7232b;
$red-2: #e53a3a; 
$green-color: #5a8f77;

$blue-1: #193b73;
/*General*/

$background-color: $white-1;
$font-color: $black-1;

body{
    background-image: linear-gradient(300deg,$white-1,$white-3 60%);
    font-family: 'Raleway', sans-serif;
    color: $font-color;
    font-size:16px;
    text-align: center;
    overflow-x: hidden;
    margin: 0;



    h2{
        font-family: 'Oswald', sans-serif;
        font-family: 'Nova Square', cursive;
        font-family: 'Cinzel', serif;
        font-size:5em;
        letter-spacing: .1em;
    }
}
.bold{
    color: #67788c;
    color: #cec2ae;
    color: #402f36;
    color:#4a1210;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: $background-color;
}
::-webkit-scrollbar-thumb {
    background: $black-3; 
}


/*CSS GRID*/


#header{
    height: 100vh;
    display: none;

    .logo{
        background: url('logo.svg') no-repeat center center;
        height: 60%;
    }

}

#about{
    height: 100vh;
    text-align: left;
    padding: 0 5vw;
    display: grid;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "picture about-title"
    "picture bio";

    .about-title{
        grid-area: about-title;
    }
    .picture{
        width: 200px;
        height: 200px;
        background: #ccc;
        border-radius: 100px;
        grid-area:picture;
        justify-self: center;
    }
    .bio{
        grid-area:bio;
    }
}



#xp{
    margin: -20px;
    height: 100vh;
    display: none;
}

#projects{
    height: 100vh;
    display: none;
}

#skills{
    height: 100vh;
    display: grid;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". .  skills-title skills-title . ."
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other";

    div{
        margin: 10px;
        box-shadow: 0px 4px 10px #474747;
    }

    .skills-title {
        grid-area: skills-title;
      }
      .html{
          grid-area: html;
      }
      .css{
        grid-area: css;
    
    }
    .js{
        grid-area: js;
    
    }
    .backend{
        grid-area: backend;
    
    }
    .tools{
        grid-area: tools;
    }
    .other{
        grid-area: other;
    }
}
.active-page{
    display: block !important;
 }


#footer{
    grid-area: footer;
    display: none;
    height: 10vh;
}

.menu{
    display: flex; 
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
    font-family: 'Nova Square', cursive;
    font-family: 'Cinzel', serif;
    font-size: 5em;
    position: fixed;
    bottom: 0;
}
