/*General*/

body{
    background-image: linear-gradient(273deg,#010813,#000014);
    font-family: 'Open Sans', sans-serif; 
    background-color: #010813;
    color: #FFF;
    font-size:16px;
    text-align: center;
    overflow-x: hidden;
    height: 260vh;

}

h1{
    margin-top: 2.5em;
    font-family: 'Iceland', cursive;
    font-size: 10em;
    font-weight: 500;
    letter-spacing: .35em;
    animation: neon 2.5s ease-in-out infinite alternate;
}
h2{
    font-family: 'Orbitron', sans-serif;
    font-family: 'Iceland', cursive;
    letter-spacing: .35em;
    font-size:3em;
    color: #fa7623;
}


::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #010813;
}
::-webkit-scrollbar-thumb {
    background: #010813; 
    background-image: linear-gradient(320deg,
    transparent 2%,
    #C5CCCB 2%,
    #C5CCCB 50%,
    #C5CCCB 50%,
    #C5CCCB 98%,
    transparent 98%,
    transparent)

}


/*CSS GRID*/

.container{
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr 12%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header"
    ". about about about .  "
    ". xp xp xp . "
    ". skills skills skills .  "
    ". projects projects projects . "
    "footer footer footer footer footer";
}
.header{
    grid-area: header;
    height: 110vh;
}

.about{
    grid-area: about;
    height: 50vh;
    color: #212121;
    background: linear-gradient(173deg,#e7eeed,#C5CCCB); 
    box-shadow: 8px -4px #8c94a8;
    transform: skew(-20deg);
}
.about .me{
    transform: skew(20deg);
}
.skills{
    grid-area: skills;
    height: 40vh;
}
.xp{
    margin: -20px;
    grid-area: xp;
    height: 60vh;
    transform: skew(7deg);
    color: #212121;
    background-color: #bfc5c4;
}
.xp .work{
    transform: skew(-7deg);
}
.xp h2{
    font-size: 4em;
}
.projects{
    grid-area: projects;
    height: 50vh;
    color: #212121;
    background: linear-gradient(173deg,#e7eeed,#C5CCCB); 
    box-shadow: 8px -4px #8c94a8;
    transform: skew(-20deg);
}
.footer{
    grid-area: footer;
    height: 10vh;
}

/*Particles*/
.fiber-line{
  position:fixed;
  left:0px;
  top:50px;
  width:100%;
  height:1px;
  background-color:#99833d;
}
.p{
    position:fixed;
    left:0px;
    top:50px;
    width:1px;
    height:1px;
    background-color:rgba(0, 162, 255, 0.1);

    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.p-1::before,.p-3::before,.p-5::before,.p-7::before,.p-9::before,.p-11::before{
    position:absolute;
    display:block;
    content:"";
    width:700px;
    right:1px;
    top:0px;
    height:1px;
    background: linear-gradient(to right, transparent 0%,rgba(0, 162, 255, 0.1) 100%); 
}
.p-2::before,.p-4::before,.p-6::before,.p-8::before,.p-10::before,.p-12::before{
    position:absolute;
    display:block;
    content:"";
    width:1px;
    right:0px;
    bottom:1px;
    height:800px;
    background: linear-gradient(to bottom,transparent 0%,rgba(0, 162, 255, 0.1) 100%); 
}
.p-4::before{
    height: 400px;
}
.p-5::before{
    width: 950px;
    height: 2px;
    background: linear-gradient(to right, transparent 0%,rgba(0, 162, 255, 0.1) 100%); 
}
.p-6::before,.p-12::before{
    background: linear-gradient(to top, transparent 0%,rgba(0, 162, 255, 0.1) 100%); 
    top:1px;
    height: 400px;
}

.p-1{
    animation-duration:15s;
    animation-name:particleAnimationHorizontal;
}
.p-2{
    animation-duration:20s;
    animation-name:particleAnimationVertical;
    left:80%;
}
.p-3{
    animation-duration:25s;
    animation-name:particleAnimationHorizontal;
    top:90%;
}
.p-4{
    animation-duration:35s;
    animation-name:particleAnimationVertical;
    left:7%;
}
.p-5{
    animation-duration:10s;
    animation-name:particleAnimationHorizontal;
    top:10%;
}
.p-6{
    animation-duration:13s;
    animation-name:particleAnimationUpward;
    left:25%;
}
.p-7{
    animation-duration:15s;
    animation-name:particleAnimationHorizontal;
    top:84%;
}
.p-8{
    animation-duration:19s;
    animation-name:particleAnimationVertical;
    left:65%;
}
.p-9{
    animation-duration:13s;
    animation-name:particleAnimationHorizontal;
    top:23%;
}
.p-10{
    animation-duration:21s;
    animation-name:particleAnimationVertical;
    left:3%;
}
.p-11{
    animation-duration:11s;
    animation-name:particleAnimationHorizontal;
    top:15%;
}

.p-12{
    animation-duration:7s;
    animation-name:particleAnimationUpward;
    left:55%;
}
.p-fiber{
    position:relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width:2px;
    height:2px;
    box-shadow: 0 0 5px #00ddff, 0 0 10px #00ddff, 0 0 15px #00ddff, 0 0 16px #05275C, 0 0 30px #05275C, 0 0 35px #05275C, 0 0 45px #05275C, 0 0 60px #05275C;
    background-color:#FFF;

}
.f-1{
    animation-duration:15s;
    animation-name:fiber-1;
}
.f-2{
    animation-duration:12s;
    animation-name:fiber-2;
}
.f-3{
    animation-duration:5s;
    animation-name:fiber-3;
}


/*Animations*/

@keyframes neon 
{
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 16px #05275C, 0 0 30px #05275C, 0 0 35px #05275C, 0 0 45px #05275C, 0 0 60px #05275C;
    }
    to {
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 9px #fff, 0 0 13px #05275C, 0 0 20px #05275C, 0 0 24px #05275C, 0 0 30px #05275C, 0 0 45px #05275C;
    }
}
    
    
@keyframes particleAnimationHorizontal
{
    from {
        left: -100px;
        
    }
    to {
        left: 110vw;

    }
}

@keyframes particleAnimationVertical
{
    from {
        top: -100px;
    }
    to {
        top:  110vh ;
    }
}

@keyframes particleAnimationUpward
{
    from {
        top: 110vh;
    }
    to {
        top: -100px;
    }
}

@keyframes fiber-1
{
    0% {
        top: 75vh;
        left: -100px;
    }
    16.7% {
        top: 90vh;
        left: 15vw
    }
    33.4% {
        top: 148vh;
        left: 15vw
    }
    50.1% {
        top: 148vh;
        left: 85vw
        
    }
    66.8% {
        top: 198vh;
        left: 85vw
    }
    83.5% {
        top: 255vh;
        left: calc( 100% + 100px );
    }
    100% {
        top: calc( 100% + 100px );
        left: calc( 100% + 100px );
    }
}

@keyframes fiber-2
{
    0% {
        top: 125vh;
        left: 100vw;
    }
    25% {
        top: 148vh;
        left: 80vw;
    }
    35%{
        top: 170vh;
        left: 80vw;
    }
    50% {
        top: 190vh;
        left: 80vw;
        
    }
    65%{
        top: 210vh;
        left: 85vw;
    }
    75% {
        top: 235vh;
        left: 85vw;
    }
    100% {
        top: calc( 100% + 100px );
        left: 80vw;
    }
}
@keyframes fiber-3
{
    0% {
        top: 200vh;
        left: -100px;
    }
    
    50.1% {
        top: 220vh;
        left: 15vw;
        
    }
    66.8% {
        top: 240vh;
        left: 15vw;
    }
    83.5% {
        top: 248vh;
        left: 25vw;
    }
    100% {
        top: calc( 100% + 100px );
        left: 25vw;
    }
}
