/*General*/

body{
    background-image: linear-gradient(300deg,#e7eeed,#f8f8f8 60%);
    font-family: 'Raleway', sans-serif;
    background-color: #f8f8f8;
    color: #212121;
    font-size:16px;
    text-align: center;
    overflow-x: hidden;
}

h1{
    margin-top: 1em;
    font-family: 'Cinzel', serif;
    font-size: 5em;
    letter-spacing: .15em;
}
h2{
    font-family: 'Cinzel', serif;
    font-size:4em;
    color: #212121;
}
.bold{
    color: #67788c;
    color: #cec2ae;
    color: #402f36;
    color:#4a1210;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #dfdfdf;
}
::-webkit-scrollbar-thumb {
    background: #212121; 
}


/*CSS GRID*/

.container{
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr 12%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header"
    ". about about about .  "
    ". xp xp xp . "
    ". projects projects projects . "
    ". skills skills skills .  "
    "footer footer footer footer footer";
}
.header{
    grid-area: header;
    height: 100vh;
}

.about{
    grid-area: about;
    height: 100vh;
    text-align: left;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "picture about-title"
    "picture bio";
}
.about-title{
    grid-area: about-title;
}
.picture{
	width: 200px;
	height: 200px;
	background: #ccc;
    border-radius: 100px;
    grid-area:picture;
    justify-self: center;
}
.bio{
    grid-area:bio;
}


.xp{
    margin: -20px;
    grid-area: xp;
    height: 100vh;
}
.projects{
    grid-area: projects;
    height: 100vh;
}
.skills{
    grid-area: skills;
    height: 100vh;
}
.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". .  skills-title skills-title . ."
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other";
}
.skills-title {
    grid-area: skills-title;
  }
  .html{
      grid-area: html;

  }
  .css{
    grid-area: css;

}
.js{
    grid-area: js;

}
.backend{
    grid-area: backend;

}
.tools{
    grid-area: tools;

}
.other{
    grid-area: other;

}

.footer{
    grid-area: footer;
    height: 10vh;
}

.side-nav{
    display: flex; 
    list-style-type:none;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    position: fixed;
    bottom: 0;


}
.side-nav li{
    padding: 0 10%;
    
}