$black-1: #212121;
$black-2: #2e2e2e;
$black-3: #3b3b3b;
$black-4: #474747;
$white-1: #f8f8f8;
$white-2: #e7eeed;
$white-3: #fbfbfb;
$gold-color: #e3dac9;
$red-color: #a66256;
$red-2: #e53a3a; 
$green-color: #5a8f77;

$blue-1: #193b73;
/*General*/

$background-color: $white-1;
$font-color: $black-1;

body{
    background-image: linear-gradient(300deg,$white-1,$white-2 60%);
    font-family: 'Raleway', sans-serif;
    color: $font-color;
    font-size:16px;
    text-align: center;
    overflow-x: hidden;


    h2{
        font-family: 'Cinzel', serif;
        font-family: 'Kelly Slab', cursive;
        font-family: 'Atomic Age', cursive;
        font-size:5em;
        letter-spacing: .1em;
    }
}
.bold{
    color: #67788c;
    color: #cec2ae;
    color: #402f36;
    color:#4a1210;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: $background-color;
}
::-webkit-scrollbar-thumb {
    background: $black-3; 
}


/*CSS GRID*/

.container{
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr 12%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header"
    ". about about about .  "
    ". xp xp xp . "
    ". projects projects projects . "
    ". skills skills skills .  "
    "footer footer footer footer footer";
}
.header{
    grid-area: header;
    height: 100vh;
    
    h1{
        margin-top: 1em;
        font-family: 'Cinzel', serif;
        font-family: 'Kelly Slab', cursive;
        font-family: 'Bungee Inline', cursive;
        font-family: 'Holtwood One SC', serif;
        font-family: 'Atomic Age', cursive;
        font-family: 'Marcellus SC', serif;
        font-size: 7em;
        letter-spacing: .13em;
        background-image:  linear-gradient(217deg, rgba(74,18,16,.8), rgba(74,18,16,0) 70.71%),
            linear-gradient(127deg, rgba(159, 163, 96, 0.8), rgba(159, 163, 96,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
        
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

}

.about{
    grid-area: about;
    height: 100vh;
    text-align: left;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "picture about-title"
    "picture bio";
}
.about-title{
    grid-area: about-title;
}
.picture{
	width: 200px;
	height: 200px;
	background: #ccc;
    border-radius: 100px;
    grid-area:picture;
    justify-self: center;
}
.bio{
    grid-area:bio;
}


.xp{
    margin: -20px;
    grid-area: xp;
    height: 100vh;
}
.projects{
    grid-area: projects;
    height: 100vh;
}
.skills{
    grid-area: skills;
    height: 100vh;
}
.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". .  skills-title skills-title . ."
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other"
    "html css js backend tools other";
}
.skills-title {
    grid-area: skills-title;
  }
  .html{
      grid-area: html;

  }
  .css{
    grid-area: css;

}
.js{
    grid-area: js;

}
.backend{
    grid-area: backend;

}
.tools{
    grid-area: tools;

}
.other{
    grid-area: other;

}

.footer{
    grid-area: footer;
    height: 10vh;
}

.menu{
    display: flex; 
    list-style-type:none;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    font-family: 'Kelly Slab', cursive;
    font-size: 5em;
    position: fixed;
    bottom: 0;
}
.side-nav li{
    padding: 0 10%;
    
}