@import url(https://fonts.googleapis.com/css?family=Cinzel|Raleway|Nova+Square|Oswald);
@import url(https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css);

$black-1: #212121;
$black-2: #2e2e2e;
$black-3: #3b3b3b;
$black-4: #474747;
$white-1: #f8f8f8;
$white-2: #e7eeed;
$white-3: #fbfbfb;
$gold-color: #e3dac9;
$red-color: #b7232b;
$purp-color: #232BB7;

$red-2: #e53a3a; 
$green-color: #5a8f77;
$green-2:#23B75C;

$blue-1: #e3dac9;
/*General*/

$background-color: $white-1;
$font-color: $black-1;

body{
    background-image: linear-gradient(300deg,$white-1,$white-3 60%);
    font-family: 'Raleway', sans-serif;
    color: $font-color;
    font-size:16px;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    height: 100vh;


    h2{
        font-family: 'Oswald', sans-serif;
        font-family: 'Cinzel', serif;
        font-family: 'Nova Square', cursive;
        font-size:4em;
        letter-spacing: .1em;
    }
}


#grid-container{
    display: grid;
    height: 100vh;
    grid-template-rows: 13% 87%;
    grid-template-columns: auto;
    grid-template-areas: 
    "menu"
    "grid-body";
}
.grid-body{
    grid-area: grid-body;
}
.menu{
    grid-area: menu;
    display: flex; 
    flex-direction: row;
    font-family: 'Cinzel', serif;
    font-family: 'Nova Square', cursive;
    font-size: 5em;
    justify-content: center;

    a{
        display: inline-flex;
        text-decoration: none;
        color: $black-1;
        margin:0 auto;
        width: 100px;
        text-shadow: 0px 2px 2px #8d8d8d;

        &:hover {
            color:$red-color;
            
            
        }
        &:hover span{
            display: none;
        }
        &#I:hover:after{
            content: 'About';
            position: relative;
            left: -85px;

        }
        &#II:hover:after{
            content: 'XP';
            position: relative;
            left: -20px;
        }
        &#III:hover:after{
            content: 'Skills';
            position: relative;
            left: -80px;
        }
        &#IV:hover:after{
            content: 'Contact';
            position: relative;
            left: -105px;
        }
        &.active-tab{
            color:$red-color;
        }
    }
    @media only screen and (max-width: 1100px) {
        font-size: 4em;
        a{
            &#I:hover:after{
                content: 'About';
                position: relative;
                left: -50px;
    
            }
            &#IV:hover:after{
                content: 'Contact';
                position: relative;
                left: -125px;
            }
        }
    }
}

.logo{
    background: url('logo.svg') no-repeat center center;
    height: 60%;
    margin-top: 7%;
}
.home-button{
    position: fixed;
    bottom: 0;
    left: -75px;
    background-color: $white-1;
    width: 8%;
    min-width: 100px;
    transform: skew(45deg);
    padding: 50px;
    color: $black-1;
    text-decoration: none;
    text-align: right;
    box-shadow: 3px 2px 25px #d5d5d5;

    .home{
        transform: skew(-45deg);
    }

    &:hover{
        background-color: $black-4;
        color: $white-3;
    }
}
#shape-1{
    position: fixed;
    bottom: 0;
    left: -200px;
    background-color: #ededed;
    width: 13%;
    height: 20%;
    transform: skew(45deg);
    padding: 50px;
    z-index: -1;
    text-decoration: none;
    text-align: right;
    box-shadow: inset -7px 25px 20px #E2E2E2;

}

#header{
    display: none;
    height: 100%;
}

#about{
    text-align: left;
    padding: 0 5vw;
    display: grid;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "picture about-title"
    "picture bio";

    .about-title{
        grid-area: about-title;
    }
    .picture{
        width: 200px;
        height: 200px;
        background: #ccc;
        border-radius: 100px;
        grid-area:picture;
        justify-self: center;
    }
    .bio{
        grid-area:bio;
        font-size: 2.5em;
    }
}


#xp{
    margin: -20px;
    display: grid;
    display: none;
    grid-template-columns: 20% 15% 1fr 20%;
    grid-template-rows: 5% 1fr 1fr;
    grid-template-areas: 
    ". xp-title xp-title ."
    ". work-title work ."
    ". edu-title education .";
    // ". projects-title projects .";

    .xp-title{
        grid-area: xp-title;
    }
    .work{
        grid-area: work;
        font-size: 1.7em;
        text-align: left;
        margin: 50px 0;
    }
    .education{
        grid-area: education;
        font-size: 1.7em;
        text-align: left;
        margin: 50px 0;
    }
    .projects{
        grid-area: projects;
        font-size: 1.7em;
        text-align: left;
        margin: 50px 0;
    }
    .work-title{
        grid-area: work-title;
        font-size: 2em;
        margin: 50px 0;
    }       
    .edu-title{
        grid-area: edu-title;
        font-size: 2em;
        margin: 50px 0;
    }
    .projects-title{
        grid-area: projects-title;
        font-size: 2em;
        margin: 50px 0;
    }
    h4{
        margin: 0;
    }
}

#skills{
    display: grid;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    " . . skills-title . ."
    "css js backend tools other"
    "css js backend tools other"
    "css js backend tools other"
    "css js backend tools other"
    "css js backend tools other";


    .skills-title {
        grid-area: skills-title;
      }

      .css{
        grid-area: css;
        font-size: 4em;
    
    }
    .js{
        grid-area: js;
        font-size: 4em;
    
    }
    .backend{
        grid-area: backend;
        font-size: 4em;
    
    }
    .tools{
        grid-area: tools;
        font-size: 4em;
    }
    .other{
        grid-area: other;
        font-size: 4em;
    }
}

#contact{
    display: none;
}


.active-page{
    display: grid !important;
 }

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: $background-color;
}
::-webkit-scrollbar-thumb {
    background: $black-3; 
}

